/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
/*
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4{
  color: var(--title-color);
  font-weight:500;
}
/******************************************LOADER*******************************************************************************/

.loader{
  fill: var(--first-color);
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader.hide{
  display: none;
}

.loader > svg{
  width: 100px;
  position: relative;
  
  /*animation: nombreDeLaAnimacion lapsoDeTiempo cantidadDeRepeticiones;*/
  animation: load 1.5s infinite;
  animation-timing-function: linear;
}


/* Animar */

/*
@keyframes nombreDeLaAnimacion{
  0%{
     propiedad: valor; 
  }
  25%{
  }
  50%{
      propiedad: valor;
  }
  100%{
      propiedad: valor;
  }
}
*/

@keyframes load{
  0%{
      top: 0;
      

  }
  50%{
      top: -30px;
  }
  100%{
     top: 0;
  }
}

/****************************************************************************************************************************/


body{
  font-family: var(--body-font) ;
  background-color: var(--body-color);
  color: var(--text-color);
}

body.dark{
  --first-color: hsl(182, 53%, 74%);
  --button-color: hsl(246, 16%, 12%);
  --button-color-alt: hsl(0, 0%, 28%);
  --card-color: hsla(246, 16%, 5%, .5);
  --title-color: hsl(0, 0%, 95%);
  --text-color: hsl(0, 0%, 75%);
  --body-color: hsl(249, 19%, 14%);
  --container-color: hsl(246, 16%, 12%);
  --border-color: hsl(0, 0%, 20%);
}


img{
  max-width: 100%;
  display: block;
}

.navbar{
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar.scroll-bg{
  background-color: var(--body-color);
}

.nav-logo{
  width: 50px;
  fill: var(--title-color);
}
/********************HOME SECTION******************************************/

.title-home{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.description-home{
  margin-bottom: 1.5rem;
}

.price-home{
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--first-color);
  margin-bottom: 3rem;
}

a{
  text-decoration: none;
}

.buttons-home{
  display: flex;
  align-items: center;
}

.button{
  display: inline-block;
  background-color: var(--button-color);
  color: #fff;
  padding: 1.25rem 2rem;
  font-weight: 500;

}

.small-button{
  padding: 1rem 1.5rem;
}

.gray-button{
  background-color: var(--text-color-light);
  color: var(--title-color);
}

.icons-wrapper{
  display: flex;
  gap: 1rem;
  align-items: center;
}

main{
  padding: 1.5rem;
  position: relative;
}

h2{
  color: var(--title-color);
}

section{
  background-color: var(--body-color);
}

.cart-container{
  background-color: rgba(109, 109, 109, 0.737);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transition: left .3s linear;
  padding: 2.5rem 1.5rem 1rem 1.5rem;
}

.cart-container.hide{
  left: -100%;
}

.cart{
  background-color: var(--container-color);
  width: 100%;
  height: 100%;
  max-width: 400px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: -4px 5px 10px rgb(147 147 147);
  padding: 2.5rem 1.5rem 1rem 1.5rem ;
}

.cart-close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.cart-shop{
  position: relative;
}

.cart-counter{
  padding: 0.25rem;
  background-color: var(--title-color);
  color: var(--body-color);
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 10px;
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -8px;
  right: -8px;
}

#cart{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.cart-title-center{
  text-align: center;
  margin-bottom: 3rem;
}



/****************************************************************************/

.content-home{
  position: relative;
  row-gap: 2.5rem;
}

container{
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grig{
  display: grid;
}

.img-01{
  
  background-color: var(--first-color);
  width: 258px;
  height: 430px;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  justify-self: flex-end;
  position: relative;
  left: 7%;
  top: -6%;

}

/*********************************PRODUCTS************************************************************************/

.products{
  padding: 7rem 0;
  
}

#conteiner-products{
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  gap: 2rem;
}

.grig{
  display: grid;
}

.background-color{
  background-color: var(--card-color);
  text-align: center;
  padding: 0.25rem 0;
  border-radius: 0.5rem 0.5rem 0 0;
}
/*
.conteiner-featured1{
  border: 3px dashed blue;
  

}

.conteiner-featured2{
  border: 3px dashed purple;
  
}

.conteiner-featured3{
  border: 3px dashed red;
  
}
*/
.product-data{
  padding: 1rem 0 1.5rem 1rem;
  position: relative;
  background-color: var(--body-color);
  border-radius:  0 0 0.5rem 0.5rem;
}

.product-price{
 font-size: 1.20rem;
 display: flex;
 align-items: center;
 gap: 0.25rem;
}

.product-amount{
  font-size: smaller;

}

.product-name{
  font-size: 0.938rem;

}

.button{
 font-weight: 500;
}

.button{
  cursor: pointer;
  border: none;
  outline: none;
}

.product-button{
  border-radius: 50%;
  padding: .625rem;
  display: inline-flex;
  position: absolute;
  right: 1rem;
  top: -1.25rem;
  background-color: var(--body-color);
  color: var(--title-color);
  box-shadow: 0 4px 12px hsl(206deg 4% 4% / 20%);

}

/*******************FOOTER******************************************************/

.footer{
  background-color: var(--card-color);
}

.part{
  padding: 6rem 1rem 1rem;
}

.conteiner-footer{
  row-gap: 2rem;
  border-bottom: 1px solid var(--body-color);
  padding-bottom: 3rem;
}

.grid{
  display: grid;
}

.container{
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}


.title-footer{
  font-size: 1.25rem;
  margin-bottom: 1.5rem;

}

ul{
  list-style: none;
}

.list-footer{
  display: flex;
  flex-direction: column;
  row-gap: .75rem;
}

.footer-social{
  display: flex;
  column-gap: 1rem;
}

.social-link{
  font-size: 1.25rem;
  color: var(--text-color);
}





.copy-footer{
  display: block;
  margin: 3rem 0 1rem 0;
  text-align: center;
  font-size: smaller;
  color: var(--text-color-light);
}



/********************SCROLL************************************/

::-webkit-scrollbar{
  width: 0.2rem;
  background-color: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 17%);
}








/*********************MEDIASCREEN************************/


@media screen and (min-width: 576px) {
  #conteiner-products{
    grid-template-columns: repeat(2 , 200px);
    column-gap: 3rem;
  }
  
}

@media screen and (min-width: 992px) {
  #conteiner-products{
    grid-template-columns: repeat(3, 265px);
    column-gap: 5rem;
  }
  
}
